<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ixicode.constant.ixiplan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.IxiPlanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ixiplan_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dashboard.DashboardActivity"></activity>
        <activity
            android:name=".locationsearch.LocationSearchActivity"
            android:label="@string/title_activity_location_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".triplisting.activities.ModeSelectorActivity"></activity>
        <activity android:name=".triplisting.activities.ModesListingActivity"></activity>
        <activity
            android:name=".placedetail.PlaceDetail"
            android:label="@string/title_activity_place_detail"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".PlaceExplore.PlaceExplore"
            android:label="@string/title_activity_place_explore"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>